<!DOCTYPE html>

{% if messages %}
  {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<html>
<head>
    {# Load the static files#}
    {%  load staticfiles %}

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<title>{% block title %}My Cub Hub{%  endblock %}</title>

<div class="container-fluid">
    <p class="pull-right">Hello {{ request.user.first_name }}!</p>
</div>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url "dashboard" %}">My Cub Hub</a>
            </div>
            <ul class="nav navbar-nav">
                <li role="presentation" {% if request.resolver_match.url_name == 'dashboard' %}class="active"{% endif %}>
                    <a href="{% url "dashboard" %}">Home</a>
                </li>
                <li role="presentation" {% if request.resolver_match.url_name == 'manage_assessment_list' %}class="active"{% endif %}>
                    <a href="{% url "manage_assessment_list" %}">Risk Assessments</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" {% if request.resolver_match.url_name == 'edit' %}class="active"{% endif %}>
                    <a href="{% url "edit" %}">Edit Profile</a>
                </li>
                <li role="presentation">
                    <a href="{%  url "logout" %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        {% block content %}
        {%  endblock %}
    </div>
</body>
</html>