{%  load staticfiles %}
<!DOCTYPE html>

{% if messages %}
  {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<html>
<head>
    <title>{% block title %}{%  endblock %}</title>

    <link href="{%  static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">My Cub Hub 2</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard"%}class="selected"{% endif %}>
                    <a href=""{% url "dashboard" %}>Dashboard</a>
                    <a href=""{% url "dashboard" %}>Risks</a>
                </li>
            </ul>
{#            skipped the other options from p.100 of django by example as not applicable#}
        {% endif %}
    <span class="user">
        {%  if request.user.is_authenticated %}
            Hello {{ request.user.first_name }}
            <a href="{%  url "logout" %}">Logout</a>
        {%  else %}
            <a href="{%  url "login" %}">Log-in</a>
        {%  endif %}
    </span>
    </div>
    <div id="content">
        {% block content %}
        {%  endblock %}
    </div>
</body>
</html>