{%  extends "base.html" %}

{%  block title %}
    Editing hazards for {{ assessment.assessment_name }}
{%  endblock %}

{%  block content %}

    <h1>Edit Hazards for: {{ assessment.assessment_name }}</h1>
    <div>
        <form action="" method="post">
            {{ form }}
            {{  form.as_p }}
            {{ formset }}
            {{ formset.management_form }}
            {% csrf_token %}
            <input type="submit" class="button" value="Save Hazards">
        </form>
    </div>
{%  endblock %}