{%  extends "base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{%  block title %}
    Editing hazards for {{ assessment.assessment_name }}
{%  endblock %}

{%  block content %}

    <h1>Edit Hazards for: {{ assessment.assessment_name }}</h1>
    <div>
        <form action="" method="post">

            {% bootstrap_formset formset %}
{#            {{ formset.management_form }}#}
            {% csrf_token %}
            <input type="submit" class="button" value="Save Hazards">
        </form>
    </div>
{%  endblock %}